<div class="row">
  <% if companies.count > 0 %>
    <% companies.each do |company| %>
      <div class="col-md-3 col-sm-4 col-xs-6" style="padding: 5px;">
        <% unless guest_user? %>
          <ul class="nav pull-right">
            <li class="dropdown show-edit-options pull-right">
              <a href="#" class="dropdown-toggle setting-company" data-toggle="dropdown">
                <i class="fa fa-cog"></i>

              </a>
              <ul class="dropdown-menu setting-com-list">
                <li><%= link_to "Show", company_path(company),class: 'text-center'  %></li>
                <li><%= link_to "Edit", edit_company_path(company) if is_company_admin(company) %></li>

                <li><%= link_to "Destroy", company, :method => :delete if is_company_admin(company) %></li>

              </ul>
            </li>
          </ul>
        <% end %>
        <section class="widget widget-sm  company-widget">
          <div class="widget-body">

            <p class="text-center mb-xs">
              <%= image_tag company.logo.url(:logo), class: 'img-centered  img-responsive' if company.logo.present? %>
            </p>

            <h5 class="text-center name-of-company">
               <%= company.name %>
            </h5>

            <p class="fs-mini mt text-center text-ember">
              <span class="fw-semi-bold"><%= company.followers.count %></span> Followers
            </p>

            <p class="fs-mini text-center text-ember">
              <span class="fw-semi-bold"><%= company.jobs.count %></span> Jobs
            </p>

          </div>
        </section>
      </div>
    <% end %>
  <% else %>
    <p class=" col-sm-12 fs-mini mt">
      Currently there is no company.
    </p>
  <% end %>
</div>