<div class="col-sm-12">

  <ul class="timeline my-time-line">

  <% 3.times do |post| %>
      <li class="on-left">

        <section class="event">
        <span class="thumb-sm avatar pull-left mr-sm">
          <%= image_tag 'avatar.png', class: 'img-circle' %>
        </span>
          <h4 class="event-heading"><a href="#">Jessica Smith</a>
            <small>@jess</small>
            <a data-widgster="close" class="pull-right " href="#">
              <i class="glyphicon glyphicon-remove close-custom"></i>
            </a>
          </h4>
          <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>

          <p class="fs-mini">
            Check out this awesome photo I made in Italy last summer. Seems it was lost somewhere deep inside
            my brand new HDD 40TB. Thanks god I found it!
          </p>

          <div class="event-image">
            <a href="demo/img/pictures/8.jpg">
              <img src="http://placehold.it/573x230"> </a>
          </div>
          <footer>
            <div class="clearfix">
              <ul class="post-links mt-sm pull-left">
                <li><a href="#">1 hour</a></li>
                <li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
                <li><a href="#">Comment</a></li>
              </ul>

                            <span class="thumb thumb-sm pull-right">
                                <a href="#">
                                  <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </a>
                            </span>
                            <span class="thumb thumb-sm pull-right">
                                <a href="#">
                                  <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </a>
                            </span>
                            <span class="thumb thumb-sm pull-right">
                                <a href="#">
                                  <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </a>
                            </span>
            </div>
            <ul class="post-comments mt-sm">
              <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </span>

                <div class="comment-body">
                  <h6 class="author fw-semi-bold"><a href="">Ignacio Abad </a>
                    <small>6 mins ago</small>
                  </h6>
                  <p>Hey, have you heard anything about that?</p>
                </div>
              </li>
              <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </span>

                <div class="comment-body">
                  <textarea class="form-control" type="text" rows="1" placeholder="Write your comment..."></textarea>
                </div>
              </li>
            </ul>
          </footer>
        </section>
      </li>
  <% end %>

  </ul>
</div>