<div class="col-sm-12">

  <ul class="timeline my-time-line">

  <% @time_line_records.sort{|a,b| b.updated_at <=> a.updated_at}.each do |record| %>
    <% if record.is_a?(Post) %>
        <li class="on-left <%= unique_class_generator(record) %>">
          <%= render :partial => 'shared/timeline_single_post', :locals => {:record => record} %>
        </li>
    <% elsif record.is_a?(JobsUser) %>
        <%= render :partial => 'shared/timeline_single_job_user', :locals => {:record => record} %>
    <% elsif record.is_a?(Job) %>
        <li class="on-left <%= unique_class_generator(record) %>">
          <%= render :partial => 'shared/timeline_single_job', :locals => {:record => record} %>
        </li>
    <% end %>
  <% end %>

  </ul>
</div>