
<h3>All Companies</h3>

<div class="row">
  <% if @companies.count > 0 %>
    <% @companies.each do |company| %>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <section class="widget widget-sm bg-primary">
          <div class="widget-body">
            <p class="mb-xs"><i class="fa fa-arrow-circle-up fa-3x opacity-50"></i></p>

            <p class="text-light mb">
              <%= link_to company_path(company), target: '_blank' do %>
                <time><%= root_url%><%= company.slug %></time>
              <% end %>
            </p>
            <h3>
              <span class="fw-semi-bold"><%= company.name %></span>
            </h3>

            <p class="fs-mini mt text-center">
              <span class="fw-semi-bold"><%= company.followers.count %></span> Followers
              &nbsp;
              <span class="fw-semi-bold"><%= company.jobs.count %></span> Jobs
            </p>

            <% unless guest_user? %>
              <div class="xs-actions text-center">
                <%= link_to "Show", company_path(company), class: 'btn btn-warning btn-xs' %>
                <%= link_to "Edit", edit_company_path(company), class: 'btn btn-warning btn-xs' %>
                <%#= link_to "Subscriptions", subscription_path(company), class: 'btn btn-warning btn-xs' %>
                <%= link_to "Destroy", company, :method => :delete, class: 'btn btn-warning btn-xs' %>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
  <% else %>
    <p class=" col-sm-12 fs-mini mt">
      Currently there is no company.
    </p>
  <% end %>
</div>