<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="row">
      <%= render :partial => 'widgets' %>
    </div>

    <%#= link_to "Post something", new_post_path() , class: 'btn btn-xs btn-primary' if (my_companies.count > 0 || current_profile.can_post) %>

    <div class="row">
      <%= render :partial => 'timeline' %>
    </div>

  </div>
  <div class="col-md-5 col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <section class="widget text-white">
          <div class="widget-body clearfix">
            <% if Rails.env == 'production' %>
              <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcybersoluti05-20%2F8009%2F6f49b56f-d6e4-474c-96a1-f8e0f689275d&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcybersoluti05-20%2F8009%2F6f49b56f-d6e4-474c-96a1-f8e0f689275d&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
            <% else %>
              <%= image_tag 'http://placehold.it/300x300', class: 'img-responsive' %>
            <% end %>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <% if current_user.profile.looking_for_job %>
        <%= render :partial => 'recommended_jobs' %>
      <% else %>
        <div class="col-sm-12">
          <section class="widget text-white">
            <div class="widget-body clearfix">
              <%= image_tag 'http://placehold.it/360x225', class: 'img-responsive' %>
            </div>
          </section>
        </div>
      <% end %>
    </div>
  </div>
</div>
