<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="row">
      <%= render :partial => 'widgets' %>
    </div>

    <div class="row">
      <%= render :partial => 'timeline' %>
    </div>

  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <section class="widget text-white">
          <div class="widget-body clearfix">
            <%= image_tag 'IAB-Banner-Sizes.jpg', class: 'img-responsive' %>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <% if current_user.profile.looking_for_job %>
        <%= render :partial => 'recommended_jobs' %>
      <% else %>
        <%= render :partial => 'top_companies' %>
      <% end %>
    </div>
  </div>
</div>