<div class="row">
  <div class="col-lg-7 col-md-12">
    <div class="row">
      <%= render :partial => 'widgets' %>
    </div>

    <%#= link_to "Post something", new_post_path() , class: 'btn btn-xs btn-primary' if (my_companies.count > 0 || current_profile.can_post) %>

    <div class="row">
      <%= render :partial => 'timeline' %>
    </div>

  </div>
  <div class="col-md-5 col-sm-12">
    <div class="row">
      <div class="col-sm-12">
        <section class="widget text-white">
          <div class="widget-body clearfix">
            <%= image_tag 'http://placehold.it/360x225', class: 'img-responsive' %>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <% if current_user.profile.looking_for_job %>
        <%= render :partial => 'recommended_jobs' %>
      <% else %>
        <%= render :partial => 'top_companies' %>
      <% end %>
    </div>
  </div>
</div>
