
<div class="widget-body free-margin">

  <div class="widget-top-overflow windget-padding-md clearfix bg-warning text-white">
    <a href="<%= edit_profile_path(@profile) %>" class="btn  btn-xs pull-right profile-edit-show"><i class="fa  fa-edit "></i></a>
    <h3 class="mt-lg mb-lg" ><%= @profile.first_name %> <%= @profile.last_name %></h3>
    <% if @profile.looking_for_job %>
      <ul class="tags text-white pull-right my-status">
        <li>Looking For Job</li>
      </ul>
    <% end %>
  </div>
  <div class="post-user mt-n-lg">
                            <span class="thumb-lg pull-left mr">
                                 <%= image_tag @profile.photo.present? ? @profile.photo_url(:profile) : 'avatar.png', :class => "img-circle", alt: 'your image' %>

                            </span>

    <h5 class="mt-sm fw-normal text-white"><i class="fa fa-mobile"></i>
       <%= @profile.phone %></h5>
    <p class="fs-mini text-muted"><i class="fa fa-map-marker"></i> &nbsp; <%= full_address(@profile) %></p>

  </div>
  <p class="text-light fs-mini   text-justify"><%= @profile.description %></p>

</div>


