<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
    <h4 class="widget-login-logo animated fadeInUp">
      <i class="fa fa-circle text-gray"></i>
      <a  href="<%= root_path %>"><%= image_tag 'jobsflyer-logo.png' %></a>
      <i class="fa fa-circle text-warning"></i>
    </h4>
    <section class="widget widget-login animated fadeInUp">
      <header>
        <h3>Sign up in Jobsflyer</h3>
      </header>
      <div class="widget-body">
        <p class="widget-login-info">
          <%= link_to "<i class='fa fa-facebook-square fa-2x'></i>".html_safe, user_omniauth_authorize_path(:facebook), :title => 'Use Facebook to sign in.' %>
        </p>
        <p class="widget-login-info">
          <%= link_to "Have an account? Log in now!", new_user_session_path %>
        </p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'login-form mt-lg'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation" %>
          </div>
          <div class="clearfix">
            <div class="btn-toolbar pull-right">
              <button type="submit" class="btn btn-jobsflyer-color btn-sm">Create account</button>
              <!--<a class="btn btn-inverse btn-sm" href="index.html">Login</a>-->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">

            </div>

            <div class="col-sm-6 col-sm-pull-6">
              <%= render "devise/shared/links" %>
              <!--<a class="mr-n-lg" href="#">Trouble with account?</a>-->
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
