<div class="col-md-8">
  <% if jobs.count > 0 %>

      <% jobs.each do |job| %>
          <section class="search-result-item">
            <a class="image-link" href="<%= company_path(job.company) %>">
              <%= image_tag job.company.logo.present? ? job.company.logo_url(:logo) : 'jf_logo.jpg', class: 'image' %>
            </a>

            <div class="search-result-item-body">
              <div class="row">
                <div class="col-sm-9">
                  <h4 class="search-result-item-heading">
                    <a href="<%= job_path(job) %>"><%= job.title %></a>
                  </h4>

                  <p class="info">
                    <% if job.anywhere_in %>
                        Anywhere in <%= job.anywhere_place.present? ? job.anywhere_place : job_location(job.company) %>
                    <% else %>
                        <%= job_location(CompanyLocation.find(job.job_location)) %>
                    <% end %>
                  </p>

                  <p class="info">
                    <span class="label label-primary"><%= Job::JOB_TYPES[0].keys[job.job_type.to_i-1] %></span>
                    <span class="label label-danger">Deadline: <%= job.deadline.to_date.strftime('%v') %></span>
                  </p>

                  <p class="description">
                    <!--Not just usual Metro. But something bigger. Not just usual widgets, but real-->
                    <!--widgets. Not just yet another admin template, but next generation admin template.-->
                    <% job.skills.first(4).each do |skill| %>
                        <span class="badge"><%= skill.name %></span>
                    <% end %>
                  </p>
                </div>
                <div class="col-sm-3 text-align-center">
                  <% if job.featured_job %>
                    <i class="fa  fa-thumb-tack pull-right thumb-tack" data-placement="right" data-toggle="tooltip" data-original-title="Featured Job"></i>
                  <% end %>
                  <p class="value3 mt-sm">
                    <% if job.is_negotiable %>
                        Salary Negotiable
                    <% else %>
                        <%= job.payment_currency %> <%= job.salary_range %>
                    <% end %>
                  </p>

                  <p class="fs-mini text-muted">
                    Payment: <%= Job::JOB_PAYMENT_TYPE[0].keys[job.payment_type.to_i-1] %>
                  </p>
                  <a class="btn btn-primary btn-info btn-sm" href="<%= job_path(job) %>">Learn More</a>
                </div>
              </div>
            </div>
          </section>
      <% end %>
  <% else %>
      <h3>No job posts have been made.</h3>
  <% end %>
</div>

<script>
  $('i').tooltip();
</script>