<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
    <h4 class="widget-login-logo animated fadeInUp">
      <i class="fa fa-circle text-gray"></i>
      <%= link_to 'Jobsflyer', root_url %>
      <i class="fa fa-circle text-warning"></i>
    </h4>
    <section class="widget widget-login animated fadeInUp">
      <header>
        <h3>Change your password</h3>
      </header>
      <div class="widget-body">
        <p class="widget-login-info">
          <%= link_to "<i class='fa fa-facebook-square fa-2x'></i>".html_safe, user_omniauth_authorize_path(:facebook), :title => 'Use Facebook to sign in.' %>
        </p>
        <p class="widget-login-info">
          <%= link_to "Don't have an account? Sign up now!", new_user_registration_path %>
        </p>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'login-form mt-lg', method: :put}) do |f| %>
          <%= devise_error_messages! %>

          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "New Password" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
          </div>
          <div class="clearfix">
            <div class="btn-toolbar pull-right">
              <button type="submit" class="btn btn-default btn-sm">Change my password</button>
              <!--<a class="btn btn-inverse btn-sm" href="index.html">Login</a>-->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-push-6">

            </div>

            <div class="col-sm-6 col-sm-pull-6">
              <%= render "devise/shared/links" %>
              <!--<a class="mr-n-lg" href="#">Trouble with account?</a>-->
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
