<footer class="page-footer text-center">
  <ul class="footer-list">
    <li><a href="<%= about_us_path %>">About us</a></li>
    <li>|</li>
    <li><a href="<%= terms_conditions_path %>">Terms & Conditions</a></li>
    <li>|</li>
    <li><a href="<%= privacy_path %>">Privacy</a></li>
    <li>|</li>
    <li><a href="<%= faqs_path %>">FAQ</a></li>
    <li>|</li>
    <li><a href="<%= contact_path %>">Contact</a></li>
  </ul>
  2015 &copy; JobsFlyer | Powered by <a href="http://cybersolution.com/" target="_blank" style="color:#2d0c00; ">cybersolution.</a>
</footer>