
<main  class="content top-emp-logo" style="background: #f1f1f1">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="row">
        <div class="jumbotron">

          <div class="tops-company-section">
            <h3 class="text-center tab-two"><a href="" class="com">Top Companies</a>&nbsp; / &nbsp;<a class="emp" href="">Top Employers</a></h3>
            <% if @top_companies.count > 0 %>
              <% @top_companies.each do |company| %>
                <% if company.logo.present? %>
                  <%= image_tag company.logo_url(:logo), :class => "img-responsive img-thumbnail" %>
                <% else %>
                  <img src="http://placehold.it/134x85" class="img-responsive img-thumbnail">
                <% end %>
              <% end %>
            <% else %>
              <% (1..32).each do |company| %>
                <img src="http://placehold.it/134x85" class="img-responsive img-thumbnail">
              <% end %>
            <% end %>
          </div>


        </div>

      </div>
    </div>


    </div>
  </div>
</main>




<footer class="page-footer text-center">
  <ul class="footer-list">
    <li><a href="<%= about_us_path %>">About us</a></li>
    <li>|</li>
    <li><a href="<%= terms_conditions_path %>">Terms & Conditions</a></li>
    <li>|</li>
    <li><a href="<%= privacy_path %>">Privacy</a></li>
    <li>|</li>
    <li><a href="<%= faqs_path %>">FAQ</a></li>
    <li>|</li>
    <li><a href="<%= contact_path %>">Contact</a></li>
  </ul>
  2015 &copy; JobsFlyer | Powered by <a href="http://cybersolutions.io/" target="_blank" style="color:#fff; ">CyberSolutions</a>
</footer>