<nav class="navbar navbar-default home-page-nav-bar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Mobile Menu</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag 'jobsflyer-logo.png' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right  my-bar">
        <li><a href="<%= resume_search_path %>">Search Resumes</a></li>
        <li class="right-separtor"><a href="<%= new_job_path %>">Post job</a></li>
        <li><a href="<%= new_job_path %>">Search Jobs</a></li>
        <li><a href="<%= new_job_path %>">Post Resume</a></li>


        <li class="login-button"><a href="<%= new_user_session_path %>">Log In</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container text-right new-user-add no-padding" >You Have no account? <a href="<%= new_user_registration_path %>" class="brnd-color">Sign Up</a></div>
<script>
  $(document).pjax('a', '#bs-example-navbar-collapse-1', {push: false})
</script>