<nav id="sidebar" class="sidebar" role="navigation">
  <!-- need this .js class to initiate slimscroll -->
  <div class="js-sidebar-content">
    <header class="logo hidden-xs">
      <a href="index.html">sing</a>
    </header>
    <!-- seems like lots of recent admin template have this feature of user info in the sidebar.
         looks good, so adding it and enhancing with notifications -->
    <div class="sidebar-status visible-xs">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-sm avatar pull-right">
                    <!--<img class="img-circle" src="demo/img/people/a5.jpg" alt="...">-->
                  <%= image_tag 'avatar.png', :class => "img-circle" %>
                </span>
        <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
             should be used with bg-* and text-* classes for colors -->
                <span class="circle bg-warning fw-bold text-gray-dark">
                    13
                </span>
        &nbsp;
        Philip <strong>Smith</strong>
        <b class="caret"></b>
      </a>
      <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
    </div>
    <!-- main notification links are placed inside of .sidebar-nav -->
    <ul class="sidebar-nav">
      <li class="<%= @dash_tab %>">
        <!-- an example of nested submenu. basic bootstrap collapse component -->
        <a href="#sidebar-dashboard" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-desktop"></i>
                    </span>
          Dashboard
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-dashboard" class="collapse in">
          <li class="<%= @dash_tab %>"><a href="<%= guest_user? ? new_user_session_path : dashboard_path %>">Dashboard</a></li>
          <li class="<%= @profile_tab %>"><%= link_to 'My profile', guest_user? ? new_user_session_path :  edit_profile_path(current_user.profile)%></li>
        </ul>
      </li>
      <li class="<%= @jobs_tab %>">
        <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-briefcase"></i>
                    </span>
          Jobs
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-ui" class="collapse">
          <li><a href="<%= guest_user? ? new_user_session_path : jobs_path %>">My Jobs</a></li>
          <li><a href="<%= jobs_path(:all => 'active') %>">All active Jobs</a></li>
          <li class="divider"></li>
          <li><a href="<%= guest_user? ? new_user_session_path : user_my_job_applications_path(current_user) %>">My job applications</a></li>
          <li><a href="ui_buttons.html">Buttons</a></li>
          <li><a href="ui_tabs_accordion.html">Tabs & Accordion</a></li>
          <li><a href="ui_list_groups.html">List Groups</a></li>
        </ul>
      </li>
      <li class="<%= @company_tab %>">
        <% if guest_user? %>
          <a href="<%= companies_path %>">
                    <span class="icon">
                        <i class="fa fa-building"></i>
                    </span>
            Companies
          </a>
        <% else %>
          <a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-building"></i>
                    </span>
            Companies
            <i class="toggle fa fa-angle-down"></i>
          </a>
          <ul id="sidebar-forms" class="collapse">
            <li><a href="<%= companies_path %>">All Companies</a></li>
            <li><a href="<%= guest_user? ? new_user_session_path : user_companies_path(current_user) %>">My Companies</a></li>
            <li class="divider"></li>
            <% unless guest_user? %>
              <% my_companies.each do |company| %>
                <li><a href="<%= company_path(company) %>"><%= company.name %></a></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </li>
    </ul>
    <!-- every .sidebar-nav may have a title -->
    <h5 class="sidebar-nav-title">Template <a class="action-link" href="#"><i class="fa fa-refresh"></i></a></h5>
    <ul class="sidebar-nav">
      <!--<li>-->
        <!--&lt;!&ndash; an example of nested submenu. basic bootstrap collapse component &ndash;&gt;-->
        <!--<a class="collapsed" href="#sidebar-forms" data-toggle="collapse" data-parent="#sidebar">-->
                    <!--<span class="icon">-->
                        <!--<i class="fa fa-align-right"></i>-->
                    <!--</span>-->
          <!--Forms-->
          <!--<i class="toggle fa fa-angle-down"></i>-->
        <!--</a>-->
        <!--<ul id="sidebar-forms" class="collapse">-->
          <!--<li><a href="form_elements.html">Form Elements</a></li>-->
          <!--<li><a href="form_validation.html">Form Validation</a></li>-->
          <!--<li><a href="form_wizard.html">Form Wizard</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <li>
        <a class="collapsed" href="#sidebar-ui" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-tree"></i>
                    </span>
          UI Elements
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-ui" class="collapse">
          <li><a href="ui_components.html">Components</a></li>
          <li><a href="ui_notifications.html">Notifications</a></li>
          <li><a href="ui_icons.html">Icons</a></li>
          <li><a href="ui_buttons.html">Buttons</a></li>
          <li><a href="ui_tabs_accordion.html">Tabs & Accordion</a></li>
          <li><a href="ui_list_groups.html">List Groups</a></li>
        </ul>
      </li>
      <li class="<%= @subscription_tab %>">
        <a href="<%= guest_user? ? new_user_session_path : subscriptions_path %>">
                    <span class="icon">
                        <i class="fa fa-sitemap"></i>
                    </span>
          Subscriptions
        </a>
      </li>
      <li>
        <a class="collapsed" href="#sidebar-maps" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-map-marker"></i>
                    </span>
          Maps
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-maps" class="collapse">
          <!-- data-no-pjax turns off pjax loading for this link. Use in case of complicated js loading on the
               target page -->
          <li><a href="maps_google.html" data-no-pjax>Google Maps</a></li>
          <li><a href="maps_vector.html">Vector Maps</a></li>
        </ul>
      </li>
      <li>
        <!-- an example of nested submenu. basic bootstrap collapse component -->
        <a class="collapsed" href="#sidebar-tables" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-table"></i>
                    </span>
          Tables
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-tables" class="collapse">
          <li><a href="tables_basic.html">Tables Basic</a></li>
          <li><a href="tables_dynamic.html">Tables Dynamic</a></li>
        </ul>
      </li>
      <li>
        <a class="collapsed" href="#sidebar-extra" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-leaf"></i>
                    </span>
          Extra
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-extra" class="collapse">
          <li><a href="calendar.html">Calendar</a></li>
          <li><a href="invoice.html">Invoice</a></li>
          <li><a href="login.html" target="_blank" data-no-pjax>Login Page</a></li>
          <li><a href="error.html" target="_blank" data-no-pjax>Error Page</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="search.html">Search Results</a></li>
          <li><a href="time_line.html" data-no-pjax>Time Line</a></li>
        </ul>
      </li>
      <li>
        <a class="collapsed" href="#sidebar-levels" data-toggle="collapse" data-parent="#sidebar">
                    <span class="icon">
                        <i class="fa fa-folder-open"></i>
                    </span>
          Menu Levels
          <i class="toggle fa fa-angle-down"></i>
        </a>
        <ul id="sidebar-levels" class="collapse">
          <li><a href="#">Level 1</a></li>
          <li>
            <a class="collapsed" href="#sidebar-sub-levels" data-toggle="collapse" data-parent="#sidebar-levels">
              Level 2
              <i class="toggle fa fa-angle-down"></i>
            </a>
            <ul id="sidebar-sub-levels" class="collapse">
              <li><a href="#">Level 3</a></li>
              <li><a href="#">Level 3</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="fa fa-plus"></i></a></h5>
    <!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
    <ul class="sidebar-labels">
      <li>
        <a href="#">
          <!-- yep, .circle again -->
          <i class="fa fa-circle text-warning mr-xs"></i>
          <span class="label-name">My Recent</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle text-gray mr-xs"></i>
          <span class="label-name">Starred</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-circle text-danger mr-xs"></i>
          <span class="label-name">Background</span>
        </a>
      </li>
    </ul>
    <h5 class="sidebar-nav-title">Projects</h5>
    <!-- A place for sidebar notifications & alerts -->
    <div class="sidebar-alerts">
      <div class="alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
        <span class="text-white fw-semi-bold">Sales Report</span> <br>
        <div class="progress progress-xs mt-xs mb-0">
          <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
        </div>
        <small>Calculating x-axis bias... 65%</small>
      </div>
      <div class="alert fade in">
        <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
        <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
        <div class="progress progress-xs mt-xs mb-0">
          <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
        </div>
        <small>Provide required notes</small>
      </div>
    </div>
  </div>
</nav>