<div class="row">
  <div class="jumbotron">
    <form action="<%= search_index_path %>" class="search-jobs-flyer navbar-form text-center" role="search" method="get">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control small-top" type="text" name="query">
          <small>What</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input class="form-control" type="text" id="job_locations_attributes" name="area">
          <small>Where</small>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-jobsflyer btn-sm"><i class="fa fa-search"></i> Search Jobs</button>
        <small class="clearfix"><a href="<%= advanced_search_path %>">Advance Search</a></small>
      </div>
      <br>

    </form>

    <span class="clearfix"></span>

    <div class="job-category">
      <h4 class="text-center main-cat-top">Search by Job Category</h4>

      <% each_column_category = @job_categories.count%4 == 0 ? @job_categories.count/4 : (@job_categories.count/4)+1  %>
      <% starting = 0
         ending = each_column_category
      %>
      <% (1..4).each do |line| %>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6  cat-names text-center">
          <ul class="list-unstyled">
            <% @job_categories[starting...ending].each do |jobCat| %>
              <li><a href="<%= advanced_search_path(:job_category => jobCat.id) %>"><%= jobCat.name %> (<%= jobCat.jobs.count %>)</a></li>
            <% end %>
          </ul>
        </div>
        <% starting += each_column_category
           ending += each_column_category
        %>
      <% end %>
    </div>


  </div>
</div>
<span class="clearfix"></span>


<script>
  $(document).ready(function () {
    $('#job_locations_attributes').tokenInput('/home/load_cities.json', {
      crossDomain: false,
      propertyToSearch: 'name',
      tokenLimit: 1,
      hintText: 'Type location'

    });
  });
</script>
