<%= form_for(@company, :method => "#{@company.new_record? ? 'post' : 'put'}", :html => {:class => 'form-horizontal', multipart: true}) do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:obj => f.object} %>
  <div class="row mb-lg">
    <div class="col-md-12">
      <div class="clearfix">
        <ul id="tabs1" class="nav nav-tabs pull-left"> <!-- remove pull-left to get a cool effect too -->
          <li class="active"><a href="#tab1" data-toggle="tab">Basic</a></li>
          <li class=""><a href="#tab2" data-toggle="tab">Locations</a></li>
          <% if (!@company.new_record? && is_company_admin(@company)) %><li class=""><a href="#tab3" data-toggle="tab">Admin Roles</a></li><% end %>
        </ul>
      </div>
      <div id="tabs1c" class="tab-content mb-lg">
        <div class="tab-pane active clearfix" id="tab1">
          <%= render :partial => 'companies/basic_company_info', locals: {:f => f} %>
        </div>
        <div class="tab-pane" id="tab2">
          <h3>Branch Locations</h3><hr>
          <div id="company-locations">
            <%= f.fields_for :company_locations do |cl| %>
              <%= render 'companies/company_location_fields', :f => cl %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'add location', f, :company_locations, :class => 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="tab3">
          <h3>Admin Roles</h3><hr>
          <div id="company-admins">
            <%= f.fields_for :company_admins do |ca| %>
              <%= render 'companies/company_admin_fields', :f => ca %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'add admin', f, :company_admins, :class => 'btn btn-primary btn-sm' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-7">
        <button class="btn btn-primary" type="submit">Save Changes</button>
        <!--<button class="btn btn-inverse" type="button" href="'">Cancel</button>-->
        <%= link_to "Cancel", user_companies_path(current_user), :class => "btn btn-inverse" %>
      </div>
    </div>
  </div>
<% end %>

<script>

    $('#default-country-select').change(function(){
      $.ajax({
        url: '<%= home_find_cities_path %>',
        data: {c_code: $(this).val()},
        type: 'GET',
        success: function(result){
          var $select = $('.select-country-based-city select');
          $select.empty();
          for(var i = 0; i < result.length; i++) {
            console.log(result[i].name)
            var $option = $("<option/>").attr("value", result[i].name).text(result[i].name);
            $select.append($option);
          }
        }
      })

    });

    $("#company-locations").on("cocoon:after-insert", function(e, inserted_item){
        inserted_item.find('#default-country-select').change(function(){
          $.ajax({
            url: '<%= home_find_cities_path %>',
            data: {c_code: $(this).val()},
            type: 'GET',
            success: function(result){
              var $select = inserted_item.find('.select-country-based-city select');
              $select.empty();
              for(var i = 0; i < result.length; i++) {
                console.log(result[i].name)
                var $option = $("<option/>").attr("value", result[i].name).text(result[i].name);
                $select.append($option);
              }
            }
          })
        });
    });
</script>
