<ul class="timeline my-time-line">

  <li class="on-left">

    <section class="event">
            <span class="thumb-sm avatar pull-left mr-sm">
              <%= image_tag @post.user.profile.photo.present? ? @post.user.profile.photo_url(:profile) : 'avatar.png', class: 'img-circle' %>
            </span>
      <h4 class="event-heading"><a href="#"><%= full_user_name(@post.user) %> <small class="pull-right"><i class="fa fa-tag"></i>  <%= Post::POST_TYPE.keys[@post.post_type - 1] %></small></a>

      </h4>
      <p class="fs-sm text-muted"><%= @post.created_at.strftime('%c') %></p>

      <p class="fs-mini">
        <%= @post.description.html_safe %>
      </p>

      <% if @post.feature_image.present? %>
        <div class="event-image">
          <a href="<%= post_path(@post) %>">
            <%= image_tag @post.feature_image_url(:banner), :class => 'img-responsive img-thumbnail'  %>
          </a>
        </div>
      <% end %>

      <footer id="<%= unique_id_generator(@post) %>">
        <span class="clearfix"></span>
        <p class="fs-mini">
          <i class="fa fa-tags"></i>  <%= @post.skills.collect { |skill| skill.name }.join(', ') %>
        </p>

        <div class="clearfix">
          <ul class="post-links mt-sm pull-left">
            <li><a href="javascript:void(0)"><%= distance_of_time_in_words(Time.now, @post.created_at) %></a></li>
            <li class="like-dislike"><a href="<%= liked(@post) ? like_destroy_path(:post_id => @post.id) : like_create_path(:post_id => @post.id) %>" data-remote="true"><span class="text-danger"><i class="fa <%= liked(@post) ? 'fa-heart' : 'fa-heart-o' %>"></i> <%= liked(@post) ? 'Unlike' : 'Like' %></span> </a>
              <span class="counts"><i class="fa fa-thumbs-o-up"></i> <%= @post.likes.count %></span></li>
            <li class="comments-counter"><a href="javascript:void(0)">Comments</a> <span class="counts"><i class="fa fa-comments"> <%= @post.comments.count %></i></span></li>
          </ul>

          <% if @post.company_id.present? %>
                  <span class="thumb thumb-sm pull-right">
                    <a href="<%= company_path(@post.company) %>">
                      <%= image_tag @post.company.logo.present? ? @post.company.logo_url(:thumb) : 'avatar.png', class: 'img-circle' %>
                    </a>
                  </span>
          <% end %>

        </div>

        <ul class="post-comments mt-sm new-li">
          <li>
            <ul class="comments-index">
              <%= render partial: 'comments/post_comments', locals: {:comments => @post.comments} %>
            </ul>
          </li>
          <%= render partial: 'comments/form', locals: {:post_id => @post.id, :job_id => nil, :comment => Comment.new} %>
        </ul>
      </footer>
    </section>
  </li>


</ul>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', @post.company_id.present? ? posts_path(:company => @post.company_id) : posts_path(:user => @post.user_id) %>
<% end %>
