<ul class="timeline my-time-line">

  <%# 3.times do |post| %>
    <li class="on-left">
      <section class="event">
            <span class="thumb-sm avatar pull-left mr-sm">
              <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
            </span>
        <h4 class="event-heading"><a href="#">Monirul Islam <small class="pull-right"><i class="fa fa-tag"></i>  Tutorial</small></a>

        </h4>
        <p class="fs-sm text-muted">Mon Aug 10 04:25:07 2015</p>

        <p class="fs-mini">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore<font size="4"> et dolore magna aliqua. Ut ....Read more
        </font></p><font size="4">

        <div class="event-image">
          <a href="/posts/jobflyer-test-post">
            <img alt="Banner screenshot from 2015 07 02 12 35 05" src="/uploads/post/feature_image/1/banner_Screenshot_from_2015-07-02_12_35_05.png" class="img-responsive img-thumbnail">
          </a>
        </div>

        <footer id="post__1">
          <span class="clearfix"></span>
          <p class="fs-mini">
            <i class="fa fa-tags"></i>  Java, HTML5
          </p>

          <div class="clearfix">
            <ul class="post-links mt-sm pull-left">
              <li><a href="javascript:void(0)">about 1 hour</a></li>
              <li><a href="javascript:void(0)"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span> </a>
                <span class="counts"><i class="fa fa-thumbs-o-up"></i> 555</span></li>
              <li><a href="javascript:void(0)">Comment</a> <span class="counts"><i class="fa fa-comments"></i>
 555</span></li>
            </ul>

                  <span class="thumb thumb-sm pull-right">
                    <a href="/banglalink">
                      <img alt="Thumb 130848 300x250" src="/uploads/company/logo/7/thumb_130848-300x250.jpg" class="img-circle">
                    </a>
                  </span>

          </div>

          <ul class="post-comments mt-sm new-li">
            <li>
              <ul class="comments-index">
                <li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                  <div class="comment-body">
                    <h6 class="author fw-semi-bold"><a href="">monrjss  </a>
                      <small>about 1 hour</small>
                      <p class="pull-right">
          <span>
            <a href="/comments/1" data-method="delete" rel="nofollow" data-remote="true" title="Delete" class="delete-comment">
              <i class="fa fa-trash-o"></i>
            </a>            <a href="/comments/1/edit" data-remote="true" class="editing-comment">
            <i class="fa fa-pencil"></i>
          </a>          </span>
                      </p>
                    </h6>
                    <p>Test comment</p>
                  </div>
                </li>
                <li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                  <div class="comment-body">
                    <h6 class="author fw-semi-bold"><a href="">monrjss  </a>
                      <small>about 1 hour</small>
                      <p class="pull-right">
          <span>
            <a href="/comments/2" data-method="delete" rel="nofollow" data-remote="true" title="Delete" class="delete-comment">
              <i class="fa fa-trash-o"></i>
            </a>            <a href="/comments/2/edit" data-remote="true" class="editing-comment">
            <i class="fa fa-pencil"></i>
          </a>          </span>
                      </p>
                    </h6>
                    <p>Test comment 2</p>
                  </div>
                </li>
                <li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                  <div class="comment-body">
                    <h6 class="author fw-semi-bold"><a href="">monrjss  </a>
                      <small>about 1 hour</small>
                      <p class="pull-right">
          <span>
            <a href="/comments/3" data-method="delete" rel="nofollow" data-remote="true" title="Delete" class="delete-comment">
              <i class="fa fa-trash-o"></i>
            </a>            <a href="/comments/3/edit" data-remote="true" class="editing-comment">
            <i class="fa fa-pencil"></i>
          </a>          </span>
                      </p>
                    </h6>
                    <p>sdsfdf</p>
                  </div>
                </li>
                <li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                  <div class="comment-body">
                    <h6 class="author fw-semi-bold"><a href="">monrjss  </a>
                      <small>16 minutes</small>
                      <p class="pull-right">
          <span>
            <a href="/comments/4" data-method="delete" rel="nofollow" data-remote="true" title="Delete" class="delete-comment">
              <i class="fa fa-trash-o"></i>
            </a>            <a href="/comments/4/edit" data-remote="true" class="editing-comment">
            <i class="fa fa-pencil"></i>
          </a>          </span>
                      </p>
                    </h6>
                    <p>sadsdsadsd</p>
                  </div>
                </li>
                <li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                  <div class="comment-body">
                    <h6 class="author fw-semi-bold"><a href="">monrjss  </a>
                      <small>16 minutes</small>
                      <p class="pull-right">
          <span>
            <a href="/comments/5" data-method="delete" rel="nofollow" data-remote="true" title="Delete" class="delete-comment">
              <i class="fa fa-trash-o"></i>
            </a>            <a href="/comments/5/edit" data-remote="true" class="editing-comment">
            <i class="fa fa-pencil"></i>
          </a>          </span>
                      </p>
                    </h6>
                    <p>sdsd sdkvdds vdslkv xvndsk ks c c c c c x  x x</p>
                  </div>
                </li>
                <li>
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                  <div class="comment-body">
                    <h6 class="author fw-semi-bold"><a href="">monrjss  </a>
                      <small>15 minutes</small>
                      <p class="pull-right">
          <span>
            <a href="/comments/6" data-method="delete" rel="nofollow" data-remote="true" title="Delete" class="delete-comment">
              <i class="fa fa-trash-o"></i>
            </a>            <a href="/comments/6/edit" data-remote="true" class="editing-comment">
            <i class="fa fa-pencil"></i>
          </a>          </span>
                      </p>
                    </h6>
                    <p>sdsfdfhjjhjh</p>
                  </div>
                </li>

              </ul>
            </li>
            <li class="form-comment">
              <form method="post" data-remote="true" accept-charset="UTF-8" action="/comments" id="new_comment" class="new_comment"><input type="hidden" value="✓" name="utf8">
    <span class="thumb-xs avatar pull-left mr-sm">
        <img alt="Avatar 84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe" src="/assets/avatar-84968f795c6e163aaddcd6e9f20b7364a2bf73afb014adac699324593ac0f8fe.png" class="img-circle">
    </span>

                <div class="comment-body">
                  <input type="text" id="comment_content" name="comment[content]" autocomplete="false" required="required" placeholder="Write your comment..." rows="1" class="form-control">
                </div>

                <input type="hidden" value="1" name="comment[post_id]">

                <input type="submit" style="position: absolute; left: -9999px">
              </form></li>



          </ul>
        </footer>
      </font></section>


    </li>
  <%# end %>

  <section class="event">
        <span class="thumb-sm avatar pull-left mr-sm">
          <% if @post.company_id.present? %>
            <%= image_tag @post.company.logo.present? ? @post.company.logo_url(:thumb) : 'avatar.png', class: 'img-circle' %>
          <% else %>
            <%= image_tag @post.user.profile.photo.present? ? @post.user.profile.photo_url(:thumb) : 'avatar.png', class: 'img-circle' %>
          <% end %>
        </span>
    <h4 class="event-heading">
      <a href="<%= @post.company_id.present? ? company_path(@post.company) : user_path(@post.user) %>">
        <%= @post.company_id.present? ? @post.company.name : @post.user.profile.full_user_name %>
      </a>
      <!--<small>@jess</small>-->
      <a data-widgster="close" class="pull-right " href="#">
        <i class="glyphicon glyphicon-remove close-custom"></i>
      </a>
    </h4>
    <p class="fs-sm text-muted"><%= @post.updated_at.strftime("%v") %></p>

    <p class="fs-mini">
      <%= @post.description.html_safe %>
    </p>

    <% if @post.feature_image.present? %>
        <div class="event-image">
          <a href="javascript:void(0)">
            <%= image_tag @post.feature_image_url(:banner), class: 'img-responsive img-thumbnail' %> </a>
        </div>
    <% end %>
    <footer>
      <div class="clearfix">
        <p><i class="fa fa-tags"></i>  <%= @post.skills.collect { |skill| skill.name }.join(', ') %></p>


        <ul class="post-links mt-sm pull-left">
          <li><a href="#">1 hour</a></li>
          <li><a href="javascript:void(0)"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span> </a>
            <span class="counts"><i class="fa fa-thumbs-o-up"></i> 555</span></li>
          <li><a href="javascript:void(0)">Comment</a> <span class="counts"><i class="fa fa-comments"></i>
 555</span></li>
        </ul>
      </div>
      <ul class="post-comments mt-sm">
        <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </span>

          <div class="comment-body">
            <h6 class="author fw-semi-bold"><a href="">Ignacio Abad </a>
              <small>6 mins ago</small>
            </h6>
            <p>Hey, have you heard anything about that?</p>
          </div>
        </li>
        <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <%= image_tag 'avatar.png', class: 'img-circle' %>
                                </span>

          <div class="comment-body">
            <textarea class="form-control" type="text" rows="1" placeholder="Write your comment..."></textarea>
          </div>
        </li>
      </ul>
    </footer>
  </section>


</ul>

<% if @post.user == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', @post.company_id.present? ? posts_path(:company => @post.company_id) : posts_path(:user => @post.user_id) %>
<% end %>
