<div class="row">
  <div class="my-resume-bank">
    <div class="col-md-8">
      <section class="widget">
        <header>
          <h4>My saved <span class="fw-semi-bold">Resumes</span></h4>
          <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </header>
        <div class="widget-body">

          <div class="mt">
            <% if @my_saved_resumes.count > 0 %>
              <table id="datatable-table" class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th class="hidden-xs">Skills</th>
                  <th>Invite</th>
                  <th class="no-sort hidden-xs">Resume</th>
                  <th class="no-sort hidden-xs">Remove</th>
                </tr>
                </thead>
                <tbody>
                <% @my_saved_resumes.each do |resume| %>
                  <tr>
                    <td>
                      <% if resume['image'].nil? %>
                        <%= image_tag 'avatar.png', class: 'img-circle', height: 50, width: 50 %>
                      <% else %>
                        <img class="img-circle" src="<%= resume['image'] %>">
                      <% end %>
                    </td>
                    <td><span class="fw-semi-bold"><%= resume['first_name'] %> <%= resume['last_name'] %></span></td>
                    <td class="hidden-xs"><%= resume['skills'] %></td>
                    <td>
                      <button class="btn btn-gray" data-toggle="modal" data-target="#myModal18">
                        <!--<button class="btn btn-gray">-->
                        Invite
                      </button>
                    </td>
                    <td class="hidden-xs"><%= link_to 'View resume', "http://dropresume.com/#{resume['username']}", target: '_blank' %></td>
                    <td class="hidden-xs"><%= link_to 'Remove', "/my-resume-bank/#{find_saved_resume(resume['email'])}", method: :delete %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% else %>
              No resume to show!
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="advertisment-portion">
    <div class="col-md-4">
      <%= image_tag 'adbanner-ver.jpg', class: 'img-responsive' %>
    </div>
  </div>
</div>