<!DOCTYPE html>
<html>
<head>
  <title>JobsFlyer</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all' %>
  <%= javascript_include_tag 'dashboard' %>
  <%= javascript_include_tag 'jobs_custom' if params[:controller] == 'jobs' && ['edit', 'new'].include?(params[:action]) %>
  <%= csrf_meta_tags %>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="//v2.zopim.com/?1jw8PZJjL5V0xzMXOCx9dvSOIiJTGQ2t";z.t=+new Date;$.
          type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->

  <%= content_for?(:head) ? yield(:head) : '' %>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %> nav-static">

<!--<div class="container">-->
  <%= render :partial => 'shared/nav_sidebar' %>
  <%= render :partial => 'shared/top_navigation_menu' %>
  <div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <%= flash_messages %>
          <%= yield %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <section class="widget text-white">
            <div class="widget-body clearfix">
              <% if Rails.env == 'production' %>
                <SCRIPT charset="utf-8" type="text/javascript" src="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcybersoluti05-20%2F8009%2Fb84b8634-0ef4-4f08-89a7-c1fd0058b059&Operation=GetScriptTemplate"> </SCRIPT> <NOSCRIPT><A HREF="http://ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=US&ID=V20070822%2FUS%2Fcybersoluti05-20%2F8009%2Fb84b8634-0ef4-4f08-89a7-c1fd0058b059&Operation=NoScript">Amazon.com Widgets</A></NOSCRIPT>
              <% else %>
                <%= image_tag 'http://placehold.it/300x300', class: 'img-responsive' %>
              <% end %>
            </div>
          </section>
          <section class="widget text-white">
            <div class="widget-body clearfix">
              <%= image_tag 'http://placehold.it/300x300', class: 'img-responsive' %>
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>
<!--</div>-->



</body>
</html>

<script>
  $(document).pjax('a', '#sidebar-dashboard', {push: false})
  $(document).ready(function(){
    if ($(document).width() < 992){
      $('body').removeClass('nav-static');
      $('body').addClass('nav-collapsed');
    }
  })
</script>

<% if Rails.env == 'production' %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63573567-5', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>