<!DOCTYPE html>
<html>
<head>
  <title>JobsFlyer</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all' %>
  <%= javascript_include_tag 'dashboard' %>
  <%= javascript_include_tag 'jobs_custom' if params[:controller] == 'jobs' && ['edit', 'new'].include?(params[:action]) %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %> <%= params[:action] %>">

<!--<div class="container">-->
  <%= render :partial => 'shared/nav_sidebar' %>
  <%= render :partial => 'shared/top_navigation_menu' %>
  <div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <%= flash_messages %>
          <%= yield %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <section class="widget text-white">
            <div class="widget-body clearfix">
              <%= image_tag 'http://placehold.it/300x300', class: 'img-responsive' %>
            </div>
          </section>
          <section class="widget text-white">
            <div class="widget-body clearfix">
              <%= image_tag 'http://placehold.it/300x300', class: 'img-responsive' %>
            </div>
          </section>
        </div>
      </div>
    </main>
  </div>
<!--</div>-->



</body>
</html>

<script>
  $(document).pjax('a', '#sidebar-dashboard', {push: false})
</script>
