<!DOCTYPE html>
<html>
<head>
  <title>JobsFlyer</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="//v2.zopim.com/?1jw8PZJjL5V0xzMXOCx9dvSOIiJTGQ2t";z.t=+new Date;$.
          type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->

</head>
<body class="<%= params[:controller] %> <%= params[:action] %> nav-static">

<!--<div class="container">-->
<% if params[:controller] == 'home' %>
  <%= render :partial => 'shared/home_topnav_menu' %>
<% else %>
  <%= render :partial => 'shared/nav_sidebar' %>
  <%= render :partial => 'shared/top_navigation_menu' %>
<% end %>
<div class="<%= params[:controller] == 'home' ? '' : 'content-wrap' %>">
  <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
  <main id="content" class="content" role="main">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>
  </main>
  <%= render :partial => 'shared/footer_home' if params[:controller] == 'home' %>
</div>
<!--</div>-->



</body>
</html>

<% unless params[:controller] == 'home' %>
<script>
  $(document).pjax('a', '#sidebar-dashboard', {push: false})
</script>
<% end %>

<script>
  $(document).ready(function(){
    if ($(document).width() < 992){
      $('body').removeClass('nav-static');
      $('body').addClass('nav-collapsed');
    }
  })
</script>